<a href="https://colab.research.google.com/github/Jasmine-Syed/Ineuron_Assignments/blob/main/Python_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Introduction 

This assignment will help you to consolidate the concepts learnt in the session.

# 2.Problem Statement 

1. Write a program which accepts a sequence of comma-separated numbers from console  and generate a list.

In [ ]:
def lst():
  num = input("Enter a sequence of numbers seperated by comma ")
  num = num.split(",")
  lst1 = list(num)
  for i in range(len(lst1)):
    lst1[i]= int(lst1[i])
  return lst1

In [ ]:
lst()

Enter a sequence of numbers seperated by comma 1,2,4,6

[1, 2, 4, 6]

1. Create the below pattern using nested for loop in Python. 


# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *

In [9]:
range(5,0,-1)

range(5, 0, -1)

In [10]:
for i in range(5,0,-1):
  print(i)

5
4
3
2
1

In [14]:
for i in range(6):
  for j in range(i):
    print("*",end =" ")
  print("")
for i in range(4,0,-1):
  for j in range(i):
     print("*",end =" ")
  print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

2. Write a Python program to reverse a word after accepting the input from the user. 

Sample Output: 

Input word: ineuron 

Output: norueni

In [ ]:
def reverse_word():
  x = input("type your word")
  print(x[::-1])

In [ ]:
reverse_word()

type your wordineuron
norueni